GEMINI_API_KEY=adicione_sua_chave_aqui

# para obter uma chave da API, visite: https://aistudio.google.com/app/api-keys 
# Clique em "Criar chave de API" no canto superior direito e siga as instruções para gerar uma nova chave.
# copie a chave gerada
# crie um arquivo chamado .env na raiz do projeto e cole a chave no formato: GEMINI_API_KEY= sua_chave_aqui